  /* .navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
   padding: 20px 40px; 
} 
.bg {
    background-color:#ff5200;
    width: 1500px;
    height: 1000px;

}
.lo {
    margin-top: -1900px;
    margin-left: -350px;
    font-size: 26px;
    color: whitesmoke;
    font-weight: bold;
}
.men{
    margin-top: -1900px;
    margin-right:650px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
}
.menu{
    margin-top: -1900px;
    margin-left: 900px;
    font-size: 15px;
    color: whitesmoke;
    font-weight: bold;
}
.btn {
    border: 2px solid whitesmoke;
    color: white;
    background: transparent;
    padding: 12px 25px;
    border-radius: 20px;
    margin-top: -1900px;
    margin-right: 320px;
} 

.pr {
    font-size: 50px;
    margin-top: -1550px;
 margin-left: 350px;
 color: whitesmoke;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: bold;
}

.img {

width: 250px;
 margin-top: -1350px;
 margin-right: 13px;
}

.promt {
width: 250px;
  margin-top: -1350px;
}
.prom {
    margin-top: -1900px;
    margin-left: 200px;
    width: 100px;
    height:90px;
}

.log {
    margin-top: -1300px;
    margin-left: 350px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
   border:  2px solid whitesmoke;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 display: flex;
}
.ser {
    margin-top: -1300px;
     margin-right: 400px;
    height: 50px;
    width: 400px;
    border-radius: 10px;
   border:  2px solid whitesmoke;
   display: flex;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.re {
  width: 380px;
display: block;
margin-top: -800px;
margin-left: 200px;
height: 350px;
}

.ree {
  width: 380px;
margin-top: -800px;
margin-right: 550px;
height: 350px;
display: block;
}
.reee {
  width: 380px;
margin-top: -880px;
margin-left: 960px;
height: 350px;
display: block;
}
   
.fo {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: bold;
}
    
.i {
  width: 200px;
  margin-right: 1000px;
  margin-top: -5px;
}
.id {
  font-size: 20px;
  margin-left: 60px;
}
.d {
margin-left: 250px;
width: 200px;
margin-top: -330px;

}
.di {
  display: flex;
}
.do {
  font-size: 20px;
  margin-left: 300px;
  margin-top: -70px;
}
.po{
 margin-left: 500px;
width: 250px;
margin-top: -350px;
}
.p{
    font-size: 20px;
  margin-left: 600px;
  margin-top: -70px;
}
.va {
margin-left: 780px;
width: 200px;
margin-top: -320px;
}
.v{
    font-size: 20px;
  margin-left: 880px;
  margin-top: -70px;
}
.poor {
margin-left: 1010px;
width: 200px;
margin-top: -320px;
}
.poo{
    font-size: 20px;
  margin-left: 1090px;
  margin-top: -70px;
}
.in {
  width: 400px;
  height: 50px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.or {
  color: #ff5200;
  font-size: 15px;

}
.modal-titlefs-5{
font-size: 18px;
}
 .btn1 {
   

 width: 100px;
 height: 60px;
 }  
 .Lo{
  margin-top: -10px;
 }    */